.wraper {
  max-width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
  border: 2px solid #ddd;
}


 /*-------- тут стили к HEADER -----------*/

header {
  height: 63px;
  background-color: #323232;
}

h1 {
  text-align: center;
  display: none;
}

nav {
  width: 100%;
  height: 63px;
}

.menu__left {
  display: inline-block;
  position: relative;
  bottom: 17px;
  width: 116px;
  height: 15px;
  margin-left: 326px;
}

.menu__logo {
  display: inline-block;
  width: 65px;
  height: 55px;
  margin: 0 37px 0 37px;
}

.menu__logo_img {
  width: 100%;
  height: auto;
  position: relative;
  top: 7px;
}

.menu__right {
  display: inline-block;
  position: relative;
  bottom: 17px;
  width: 120px;
  height: 15px;
  margin: 0;
}

a.items {
  display: inline-block;
  width: 56px;
  height: 8px;
  margin: 0;
  text-transform: uppercase;
  text-align: justify;
  font-size: 6pt;
  font-family: 'Lato', sans-serif;
  color: rgba(255, 255, 255, 255);
  line-height: 8px;
  text-decoration: none;
}

a.items__a {
  text-align: right;
}

a.items:hover {
  color: #2eb398;
  cursor: pointer;
}


/*--------- тут стили к телу MAIN ----------*/

/*----стили секции TOP с Hex-контейнерами -----*/

section.top {
  height: 721px;
  background-color: #fff;
  width: 100%;
}

.tringle {
  width: 0;
  height: 0;
  border-left: 47px solid transparent;
  border-right: 47px solid transparent;
  border-top: 27px solid #323232;
  position: relative;
  left: 463px;
}

.top__h2 {
  display: none;
}

hr.top-left {
  display: inline-block;
  position: relative;
  bottom: 29px;
  width: 410px;
  height: 1px;
  background: #e4e9eb;
  margin: 11px 70px 0 30px;
  border: 0;
}

hr.top-right {
  display: inline-block;
  position: relative;
  bottom: 29px;
  width: 410px;
  height: 1px;
  background: #e4e9eb;
  margin: 11px 30px 0 65px;
  border: 0;
}

.cap {
  display: inline-block;
  position: relative;
  bottom: 74px;
  margin: 0 3px 11px 0;
  width: 6px;
  height: 6px;
  background: #ddd2c5;
}

.cap__first {
  margin-left: 30px;
}

.cap__brown {
  background: #8b8784;
}

hr.bottom {
  width: 960px;
  position: relative;
  bottom: 78px;
  height: 1px;
  background: #e4e9eb;
  margin: 0 30px 11px 30px;
  border: 0;
}

.slider {
  height: 100%;
  position: relative;
  bottom: 45px;
}

.containHex {
  width: 182px;
  height: 225px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.hex__1{
  width: 180px;
  height: 208px;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
}

.hex__2{
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
}

.hex__3{
  background-color: #FFFF73;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}

.first__row {
  margin: 89px 8px 0px 9px;
}

.first__row_firstBlock{
  margin-left: 18px;
}

.second__row {
  position: relative;
  top: -57px;
  margin-left: 8px;
  margin-right: 8px;
}

.second__row_firstBlock {
  margin-left: 18px;
}

.third__row {
  position: relative;
  bottom: 114px;
  margin-left: 9px;
  margin-right: 8px;
}

.third__row_firstBlock {
  margin-left: 18px;
}

.border {
  display: inline-block;
  position: relative;
  height: 104px;
  border-left: 1px solid #e4e9eb;
  box-sizing: border-box;
}

.left__top {
  margin-bottom: 69px;
  margin-left: 95px;
}

.left__bottom {
  margin-left: 95px;
  bottom: 183px;
}

.right__top {
  margin-bottom: 70px;
  margin-left: 13px;
}

.right__bottom {
  margin-left: 13px;
  bottom: 183px;
}

/*----стили секции midl с соцсетями -----*/

section.midl {
  width: 100%;
  height: 341px;
  background-color: #2eb398;
}

.midl__person {
  position: relative;
  top: 12px;
  width: 820px;
  height: 316px;
  margin: 0 auto;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
  box-sizing: border-box;
}

.containHex__person {
  margin: 55px 0 0 20px;
}

.containHex__person:hover{
  cursor: pointer; 
}

.biographi {
  display: inline-block;
  position: relative;
  bottom: 95px;
  width: 581px;
  height: 100%;
  margin: 0 20px 0 10px;
}

.foto {
  position: relative;
  right: 120px;
}

h2 {
  position: relative;
  margin: 0 0 19px 0;
  top: 55px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  line-height: 22px;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
}

h3 {
  font-size: 24px;
  font-family: 'Maven Pro', sans-serif;
  line-height: 17px;
  position: relative;
  top: 50px;
  margin: 16px 0 19px 0;
  color: rgba(32, 129, 109, 255);
  text-align: justify;
}

.biographi__p {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
  bottom: -57px;
  margin-top: -10px;
}

.social__setting {
  position: relative;
  top: 80px;
  margin: 0 20px 55px 430px;
  width: 150px;
  height: 24px;
  background: #2eb398;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 24px;
  margin: 0;
  padding: 0;
  opacity: .3;
}

.icon:hover {
  opacity: 1;
}

.logo__icon {
  width: 100%;
  height: 100%;
  margin: 0 0 6px 0;
}

/*----стили секции DOWN с формой обратной связи -----*/

section.down {
  box-sizing: border-box;
  width: 100%;
  height: 564px;
  background-color: #323232;
  position: relative;
}

.contacts {
  position: absolute;
  left: 30px;
  margin: 12px auto;
  width: 960px;
  height: 538px;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}

.get__form {
  display: inline-block;
  position: relative;
  bottom: 0px;
  width: 580px;
  height: 100%;
  margin: 0 20px 0 90px;
  padding: 0;
}

h5 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30pt;
  line-height: 22px;
  color: rgba(224, 224, 224);
  text-align: justify;
  margin: 53px 0 8px 0;
}

h6 {
  font-family: 'Maven Pro', sans-serif;
  margin: 15px 0 20px 0;
  font-size: 12pt;
  line-height: 17px;
  color: rgba(190, 190, 190);
  text-align: justify;
}

input, textarea {
  width: 100%;
  height: 38px;
  background: #454545;
  border: none;
  margin-bottom: 16px;
  font-size: 12pt;
  color: rgba(190, 190, 190);
  text-align: justify;
  line-height: 12pt;
  padding-left: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

textarea {
  height: 150px;
  resize: none;
  padding: 15px 0 0 15px;
}

.submit {
  width: 97px;
  height: 37px;
  background: #2eb398;
  margin-bottom: 53px;
  margin-left: 483px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(190, 190, 190, 255);
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

.submit:hover {
  cursor: pointer;
  background: red;
  border-radius: 4px;
  color: aliceblue;
}

.other__contact {
  display: inline-block;
  position: relative;
  bottom: 140px;
  width: 180px;
  height: 250px;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  color: rgba(224, 224, 224, 255);
  text-align: justify;
}

.other__contact_p {
  height: 110px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.other__contact_ul {
  margin-top: 55px;
  list-style: inside;
  padding-left: 35px;
}

.other__contact_li {
  margin-bottom: 5px;
  list-style: none;
  cursor: pointer;
  padding-left: 7px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.other__contact_li:hover {
  color: #2eb398;
}

#firstLi {
  list-style-image: url(assets/location@1X.png);
}

#secondLi {
  list-style-image: url(assets/phone@1X.png);
}

#thirdLi {
  list-style-image: url(assets/mail@1X.png);
}

/* тут лежат стили для небольшого FOOTER */

footer {
  width: 100%;
  height: 43px;
  background-color: #222;
}

.foot {
  width: 90%;
  height: 13px;
  padding-top: 15px;
  margin: 0 auto 0 39px;
}

.foot__p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 8.65655pt;
  color: rgba(69, 69, 69);
  text-align: justify;
  margin: 0 auto;
  line-height: 12px;
}

.foot__a {
  text-decoration: none;
  color: #2eb398;
}
















/*
ul.item {
  width: 100%;
  height: 63px;
  margin: 0 auto;
  padding: 0;
}

li.item {
  display: inline-block;
  width: 64px;
  height: 20px;
  margin: 0 20px;
  text-align: center;
}


li.item_logo{
  display: inline-block;
  height: 55px;
  margin: 0 37px;
}
